body{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carta {
  padding: 2em; }

.carta{
  background-color: goldenrod;
  width: 130%;
  height: auto;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carta p{
  font-size: 25px;
  margin-top: 0;
  user-select: none;
  
}
.carta button{
  width: 30%;
}

/* Contador */
.contador h1{
color: white;
}

/* Reyes Godos */

.btnGodos{
  font-size: 30px;
}
.godos{
  color: #fff;
}
.reyes{

  font-size: 30px;
}
.rojo{
  color: red;
}
.verde{
  color: green;
}

/* Divisas */
.divisas{
  display: flex;
  flex-direction: column;
}
label{
  color: #fff;
  font-size: 20px; 
  margin-top: 15px;
}
input{
  width: 150px;
  height: 40px; 
  border-radius: 10px;
  font-size: 30px;
}

/* comprar reyes godos */
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  user-select: none;
}
.contenedor h2{
text-align: left;
}
