#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
}

.carta {
  padding: 2em; }

.carta{
  background-color: goldenrod;
  width: 130%;
  height: auto;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carta p{
  font-size: 25px;
  margin-top: 0;
  user-select: none;
  
}
.carta button{
  width: 30%;
}
